
<app-form></app-form>

<!--<form> 
    <div class="form-group">
        <h1>Login Form</h1>
    </div>
    
    <div class="form-group">
        <label for="firstName">FirstName </label>    
        <input id="firstName" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="lastName">lastName</label>
        <input id="lastName" type="text" class="form-control">
    </div>
    
        <div class="form-group">

        <label for="emailID" class="text-white">Email ID</label>
        <input type="text" style="font-size: 1.5rem;" name="emailID" id="emailID"
            class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
       
    </div>

    <div class="form-group">
        <label for="password"> Password </label>

        <input type="password" style="font-size: 1.5rem;" name="password" id="password"
        class="form-control" minlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" required>

    </div>

    <div class="form-group">
        <button class="btn-btn-primary">Submit</button>
    </div>
        

</form>-->

<!--<form #f="ngform" (ngSubmit)="onSubmit(f)">
    <div class="form-group">

        <label for="emailID" class="text-white">Email ID</label>
        <input type="text" style="font-size: 1.5rem;" name="emailID" (change)="log(emailID)" id="emailID" ngModle #emailID="ngModle"
            class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

        <div *ngIf="emailID.invalid && (emailID.dirty||emailID.touched)" class="alert">
            <div *ngIf="emailID.error?.pattern">Please Enter Valid Email ID</div>
            <div *ngIf="emailID.error?.pattern">Input Email ID</div>

        </div>

    </div>
    <br></br>

    <div class="form-group">
        <label for="password"> Password </label>

        <input type="password" style="font-size: 1.5rem;" name="password" id="password" ngModle #password="ngModle"
            class="form-control" minlength="8" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{6,12}$" required>

        <div *ngIf="password.invalid && (password.dirty||password.touched)" class="alert">
            <div *ngIf="password.error?.pattern">Please Enter Valid password</div>
            <div *ngIf="password.error?.pattern">Input Password</div>

        </div>
    </div>

    <br></br>
    <div class="form-group">
        <label for="countries" class="text-white"> CountryPhNo </label>

        <select name="countries" id="countries" style="font-size: 1.5rem;" #countryselect="ngModle" ngModel required>
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>

        </select>

        <div *ngIf="countrySelected.invalid && (countrySelected.dirty||countrySelected.touched)" class="alert">
            Please Select country
        </div>

        <span [ngClass]="countrySelected.value==='India'?" style="font-size: 1.5rem;"></span>
        <span [ngClass]="countrySelected.value==='USA'?" style="font-size: 1.5rem;"></span>

    </div>


    <br /><br />

    <div class="form-group">
        <label for="cities" class="text-white">City:</label>
        <select id="cities" name="cities" [ngSwitch]="countrySelected.value" style="font-size: 1.5rem;"
            #citySelected="ngModel" ngModel>

            <ng-template [ngSwitchCase]="'India'">
                <option *ngFor="let city of cities.India" value="city">{{city}}</option>

            </ng-template>
            
            <ng-template [ngSwitchCase]="'U.S.A'">
                <option *ngFor="let city of cities.USA" value="city">{{city}}</option>

            </ng-template>

        </select>


    </div>


    <br >


    <input type="submit" value="Submit" [disabled]="!f.valid"
        [ngStyle]="f.valid?{'background-color':'green'}:{'background-color':'red'}" class="text-white">







     

</form>-->